/*
KevvyNode
Version: 1.0
*/

#banner {
    background-color:#bc3333;
}
body {
    color: white;
    background-color: #28282B;
}

#link {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

footer {
    color: white;
}