/*
KevvyNode
Version: 1.0
© Kevin DiAngelis
*/


@media only screen and (max-width: 600px) {
    #banner {
        gap: 10%;
    }
}

@media only screen and (max-width: 1080px) {
    #banner {
        gap: 88%;
    }
}

@media only screen and (max-width: 720px) {
    #banner {
        gap: 66%
    }
}


#footer {
    margin-top: 100%;
    background-color: #bc3333;
}

#banner {
    background-color:#bc3333;
    display: flex;
    height: 20px;
    width: auto;
    flex-flow: row wrap;
    gap: 39%;
}
body {
    color: white;
    background-color: #28282B;
}

.link {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

footer {
    color: white;
}

#heading {
    text-align: center;
    position: relative;
}
#server {
    text-align: center;
    font-size: 100px;
    margin-top: 10%;
    position: relative;
    margin-left: 40%;
    
}
#heading-div {
    height: 350px;
    width: auto;
    background-image: url("../images/server.jpg");
}