/*
KevvyNode
Version: 1.0
© Kevin DiAngelis
*/

#header {
    font-size: 20px;
    font-weight: bold;
    height: 20px;
    width: auto;
}

#body {
    color: white;
    background-color:#28282B;
    height: 120px;
    width: auto;
}